[submodule "runtime/wamr/wasm-micro-runtime"]
	path = runtime/wamr/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "platforms/sgx/demo/libonnx-pcd"]
	path = platforms/sgx/demo/libonnx-pcd
	url = https://github.com/NSKernel/libonnx-pcd
[submodule "platforms/sgx/demo/libonnx-native"]
	path = platforms/sgx/demo/libonnx-native
	url = https://github.com/NSKernel/libonnx-pcd
	branch = native
